#app {
  margin: 0;
  padding: 0;
  .top {
    color: #FF9302;
    width: 100%;
    height: 40px;
    text-align: center;
    .nav a {
      text-decoration: 0
    }
  }
  .bottom {
    color: #F00000;
    width: 100%;
    height: 40px;
    text-align: center;
  }
}