.cont {
  .top {
    color: #FF9302;
    .img {
      display: inline-block;
      width: 200px;
      height: 200px;
      background: url('https://p0.ssl.qhimgs1.com/t0139aa03bbb0e4b414.jpg') no-repeat center center;
      background-size: 100% 100%;
    }
  }
  .bottom {
    color: #F00000;
  }
}